
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
 overflow-x: hidden;
}





.top-nav {
  border-bottom: 50px solid #000;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 90%;
  margin: 0 auto;
  height: 0;
}
   .top-nav a {
  color: white;
  text-decoration: none;
  position: relative;
  top: 15px;
  margin-left: 10px;
}
.top-nav{

  text-align: center;
  position: relative;
}
.fa{
  color: white ;
  margin-left: 10px;
}
.site-logo{
  position: absolute;
}
.brand-logo1{
  text-align: center;
  color: white;
  font-size: 35px;
  margin-left: 20px;
}
.brand-logo{
  text-align: center;
  color: white;
  font-size: 25px;

}
.hamburger-menu {
  font-size: 24px;
  display: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-right select, .navbar-right a {
  margin-left: 20px;
}

.hero {

  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.hero-content {
  z-index: 1;
}
.navbar-right{
  text-align: center;
}
.hearder-site-logo{
  width: 90%;
  margin: 0 auto;
}

.header-row{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.header-col-1{
  flex-direction: column;
  width: 20%;
  text-align: center;
}
.header-col-2{
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.header-col-3{
  flex-direction: column;
  width: 20%;
  text-align: center;
}

.header-col-4{
  flex-direction: column;
  width: 25%;
  text-align: center;
  margin-top: 10px;
}
.header-col-4 a{
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-left: 10px;

}


.hearder-site-logo{
width: 100%;
position: relative;


}
.banner-head{
  color: #222;
  font-size: 45px;
  text-align: center;
  margin-top: 20px;
}
.hearder-row{
  background-color:#33333300 ;
  margin: 25px;
  
} 
header{
  background-color: #00000000;
}
.navbar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Category-dropdown{
  background-color: #000;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.language-selector{
  background-color: #000;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.hero-content h1 {
  font-size: 45px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.hero-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
}

.hero p {
  margin-top: 10px;
  font-size: 18px;
}

/* Open on mobile  */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 999;
}

.mobile-menu a, .mobile-menu select {
  color: white;
  margin-bottom: 20px;
  text-decoration: none;
}

.mobile-menu .close-menu {
  font-size: 24px;
  align-self: flex-end;
  cursor: pointer;
  margin-top: 25px;
  margin-left: 25px;
}


.product-sec{
  width: 90%;
  margin: 0 auto;
}
.product-row{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  flex-wrap: wrap;
}
.product-col{
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  width: 28%;
  background-color: white;
}
.prdct-btn {
  justify-content: space-between;
  background-color: #f5b505;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  margin-top: 20px;

}

.prdct-btn-2 {
  justify-content: space-between;
  background-color: #00000000;
  font-weight: 600;
  float: right;
  color: #e0690d;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  margin-top: 20px;

}
.prdct-btn{
  border: none;
}
.prdct-name{
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  font-weight: 500;
  margin-bottom: 20px;
}
.prdct-price{
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.price-styling{
  color: #e0690d;
}
.product-image {
  text-align: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
  height: 200px;
  width: 200px;
  margin-left: 20px;
}
.electro-head{
  color: #333;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  font-weight: bolder;
}
.jew-head{
  color: #333;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  font-weight: bolder;
}
.prdct-arrows .fa{
  background-color: #e0690d;
  color: #fff;
  border: 1px solid #e0690d;
  padding: 10px;

  margin: 0 auto;
}
.prdct-arrows{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.navbar{
  position: relative;
}

.footer{
  margin-top: 50px;
  background-color: #222;

}
.footer-logo{
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 30px;
}
.footer input{
  padding: 10px;
  margin-top: 20px;
  background-color: #00000000;
  border-bottom: 2px solid white;
  margin-bottom: 30px;
  width: 75%;
  border-radius: 10px;
}
.footer-btn{
  background-color: #e0690d;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
.close-menu{
  margin-left: 40px;
  margin-top: 50px;
}
.main-logo{
  text-align: center;
  font-size: 30px;
  color: white;
}


.footer-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
.fot-col-1{
  width: 60%;
  flex-direction: column;
  color: white;
}

.fot-col-1 label{
  margin-left: 15px;
  margin-top: 30px;
}
.mobile-menu > .Category-dropdown{
  background-color: #00000000;
}
.name-style{
  color: #e0690d;
}

.footer-para{
  margin-left: 15px;
  margin-top: 30px;
}
.fot-col-2{
  width: 40%;
  flex-direction: column;
  margin: 20px;
}
.footer-last-line{
  margin-top: 30px;
  text-align: center;
  color: white;

}
@media only screen and (max-width: 1400px){
  .main-logo{
    display: none;
  }
}
@media only screen and (max-width: 1200px){
  /*Tablets [601px -> 1200px]*/
  /* .hero-content h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
.hero-img{
  height: 80vh;
}
.product-image{
  width: 150px;
  height: 150px;
}    */

.main-logo{
  display: none;
}




}
@media only screen and (max-width: 768px){
/*Big smartphones [426px -> 600px]*/
.top-nav{
  display: none;
}
.product-col{
  width: 40%;
}
.brand-logo1{
  display: none;
}
.product-image{
  width: 180px;
  height: 180px;
}
.language-selector{
  display: none;
}
.header-col-4{
  width: 40%;
  margin-right: 20px;
}
.header-col-1 > .Category-dropdown{
  display: none;
}
.hearder-site-logo{
  display: none;
}
.fot-col-2 iframe{
  width: 200px;
  height: 200px;
}
.hero-content h1{
  font-size: 40px;
}
.banner-head{
  font-size: 40px;
}
.main-logo{
  margin-top: -45px;
  display: block;

}
.hamburger-menu {
  display: block;
}
  .hamburger-menu{
    margin: 25px;

  }
  .menu-open {
    left: 0;
  }

}




@media only screen and (max-width: 426px){
/*Small smartphones [325px -> 425px]*/
.hero-content h1{
  font-size: 30px;
}
.banner-head{
  font-size: 30px;
}
.product-col{
  width: 90%;
  margin-top: 10px;
}
.product-image{
  margin: 0 auto;
  margin-left: 25px;
}
.footer-col-1{
 width: 100%;
 flex-direction: column;
}
.footer-col-2{
  width: 100%;
}
.fot-col-1 {
  width: 100%;
  flex-direction: column;
  color: white;
  text-align: center;
}
.footer-col-2 iframe{
  margin: 0 auto;
  width: 100%;
}
}













/* Open mobile menu */


/* @media (min-width: 1440px) {

.brand-logo{
  display: none;
}
}
@media (min-width: 1040px) {

  .brand-logo{
    display: none;
  }
  } */